/* ESTILOS DE LA PAGINA */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500&family=Montserrat:wght@500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #181719;
    ;
}

nav {
    position: relative;
}

.nav_menu {
    width: 100vw;
    height: 100vh;
    list-style: none;
    background: #181719;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    position: absolute;
    top: -100vh;
    z-index: 9;
    transition: 0.3s linear;
}

a:link {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

a:visited {
    color: white;
}

#btn_home {
    border-bottom: 2.5px solid #ffffff;
    padding-bottom: 3px;
    font-weight: 700;
}

.btn_menu {
    cursor: pointer;
    margin: 1%;
    transition: 0.6s linear;
    width: 2em;
    position: absolute;
    top: 10%;
    right: 3%;
    z-index: 10;
}

.line1,
.line2,
.line3 {
    width: 3em;
    height: 0.3em;
    margin: 10% 0;
    transition: 0.4s;
    transform-origin: 0px 100%;
    width: 100%;
    background-color: white;
}

.btn_interior {
    font-family: 'Crimson Pro';
    font-weight: 200;
    background-color: #181719;
    color: white;
    border-color: white;
    margin-top: 5%;
    margin-left: 5%;
    padding: 2%;
}

.txt_container h1 {
    font-family: 'Lora';
    font-weight: 500;
    color: white;
    margin-left: 5%;
}

.txt_container p {
    font-family: 'Montserrat';
    color: white;
    text-align: left;
    width: 68%;
    margin-left: 5%;
    font-weight: 400;
}

.btn_read_more {
    margin-left: 5%;
    font-family: 'Montserrat';
    font-size: 700;
}

.fa-arrow-right-long {
    margin-left: 5%;
}

.img_container {
    position: relative;
    width: 100%;
    margin-top: 15%;
}

.designer_container {
    width: 100%;
    height: 20em;
    position: relative;
}

.img_deco {
    background: url(./img/photo1.png) no-repeat;
    background-size: contain;
    margin: auto;
    width: 90%;
    height: 90%;
}

.info_designer {
    background-color: #181719;
    width: 80%;
    position: absolute;
    top: 13em;
    left: 2.5em;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.img_perfil {
    background: url(./img/photo2.png) no-repeat;
    background-size: contain;
    margin-left: 15%;
    margin-top: 5%;
    margin-right: 0;
    width: 15%;
    height: 2.8em;
    border-radius: 100px;
}

.name_prof {
    margin-left: 5%;
    font-family: 'Montserrat';
    font-weight: 500;
}

.name_prof p {
    font-size: 70%;
    color: #828282;
    margin-top: 0;
}

.name_prof h3 {
    margin-bottom: 5%;
}

.info {
    width: 55%;
    margin-left: 15%;
    font-family: 'Lora';
    font-weight: 700;
}

.name_prof,
.prof,
.info {
    color: white;
}

/* ESTILOS A LAS TRANSICIONES*/

.active_line1 {
    transform: rotate(45deg) translate(-5px, -4px);
    background-color: antiquewhite;
}

.active_line2 {
    opacity: 0;
    margin-left: -100px;
}

.active_line3 {
    transform: rotate(-45deg) translate(2px, 2px);
    background-color: antiquewhite;
}

.active_nav {
    top: 0;
}

/* MEDIA QUERY */

@media (min-width: 767px){
    .img_deco{
        width: 90%;
        height: 200%;
    }
    .info_designer{
        top: 30em;
        width: 60%;
        left: 10em;
    }
}

@media (min-width: 1023px){

    nav{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .btn_menu{
        display: none;
    }
    .nav_menu{
        margin-right: 5%;
        margin-top: 4%;
        width: 50%;
        height: 10%;
        flex-direction: row;
        justify-content: flex-end;
        position: static;
    }
    .btn_interior{
        width: 20%;
        height: 5%;
        position: static;
    }
    .main_container{
        display: flex;
        margin-top: 20%;
    }
    .img_container{
        margin-top: 0;
        width: 50%;
        position: static;
    }
    .txt_container{
        position: static;
        width: 50%;
    }
    .info_designer{
        top: 18em;
        left: 8em;
    }
}

@media (min-width: 1365px){

    .btn_interior{
        height: 2%;
        padding: 1%;
        font-size: 120%;
    }

    .main_container{
        margin-top: 10%;
    }

    .info_designer{
        top: 25em;
    }
}

@media (min-width: 1439px){
    .main_container{
        justify-content: space-between;
    }
    .txt_container{
        width: 30%;
        margin-left: 10%;
        margin-top: 10%;
    }
    .img_container{
        width: 60%;

    }
    .info_designer{
        width: 45%;
        top: 30em;
        left: 25em;
    }
}